<div class="container">

 <div class="row">
                <div class="col-md-6">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Register User
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                           
                                   <form action="/insert" method="post">
    
                                    <div class="form-group">
                                      <label for="pwd">Full Name:</label>
                                      <input type="text" class="form-control" id="name" placeholder="Enter password" name="name">
                                    </div>
                                    <div class="form-group">
                                      <label for="email">Email:</label>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                                    </div>
                                    <div class="form-group">
                                      <label for="email">Contact Number:</label>
                                      <input type="number" class="form-control" id="contact" placeholder="Enter email" name="contact">
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
                <!-- /. ROW  -->
</div>